.sell-info {
    color: white;
    margin-top: 30px;
}

.sell-info h5{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.sell-info p{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}