.sell-info {
    margin-top: 30px;
}

.sell-info h5{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #82a9f7e3;
}

.sell-info p{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(109, 109, 109);
}