.card-img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-cour
{
    -webkit-border-radius: 8px;
border-radius: 8px;
background: #edeff3d0 !important;
-webkit-box-shadow: 7px 7px 11px #cfd3da, -7px -7px 11px #ffffff;
box-shadow: 7px 7px 11px #cfd3da, -7px -7px 11px #ffffff;
border: none !important;

}

.card-bd h3
{
    color: #F6992B;
    font-size: 20px;
    font-weight: 700;
}

.explore
{
    outline: none;
    border:none;
    cursor: pointer;
    width:40%;
    /* height: 60px; */
    padding: 8px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 700;
    color: #F6992B;
    border: 1px solid #F6992B;
    text-align: center;
    background: none;
        /* box-shadow: 3px 3px 8px #b1b1b1,
                    -3px -3px 8px #ffffff; */
    transition: 0.5s;
    margin: 30px 0;
}

@media screen and (max-width:576px) {
    .explore{
        width:100%;
    }
}